/*窗口*/
#g-window {position: relative;
			width: 70%;
			height: 100%;
			background: #ccc;
			margin: 0 auto;
			background: url(../images/bkg.jpg) no-repeat;
			background-position: 100% 100%;
			background-size: cover;
			-webkit-transition:background 0.7s ease;
			-o-transition:background 0.7s ease;
			-moz-transition:background 0.7s ease;
			transition:background 0.7s ease;
		}

#f-loading {position: absolute;
			bottom: 20%;
			left: 50%;
			margin-left: -75px;
			width: 150px;
			color: #3676b7;
			font: bold 30px "微软雅黑";
			-webkit-transition:transform 0.7s ease;
			-o-transition:transform 0.7s ease;
			-moz-transition:transform 0.7s ease;
			transition:transform 0.7s ease}